.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100%;
  background-image: url(./max-larochelle-uu-Jw5SunYI-unsplash.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.weather-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #00000096;
  background-blend-mode: luminosity;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.weather-app h1{
  color: white;
}
input[type='text'] {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 250px;
}
.logo img{
  width: 100px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4bdf4f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:disabled{
  background-color: grey;
}
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: rgb(168, 22, 22);
  margin-top: 10px;
  font-size: 15px;
}

.weather-data {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.weather-data h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.weather-data p {
  font-size: 18px;
  margin-bottom: 5px;
}